/* main */
.App {
  text-align: center;
}

.App-header {
  background-color: #0f0f0f;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body-column {
  background-color: #1b1b1b;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body-row {
  flex-direction: row;
}

.App-footer {
  background-color: #0f0f0f;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* logos */
.App-leburc-logo-border {
  height: 50vmin;
  pointer-events: none;
}

.App-leburc-logo-lettering {
  height: 5vmin;
  pointer-events: none;
}

.App-leburc-logo-lettering-navbar {
  height: 20px;
}

.App-leburc-logo-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.App-navbar-logo-wrapper {
  cursor: pointer;
}

.App-tovi-logo {
  height: 200px;
  pointer-events: none;
}

/* icons */
.App-loading-icon {
  height: 50px;
}

.App-social-icon {
  margin: 0px 10px 0px 10px;
  height: 60px !important;
  width: 60px !important;
  border-radius: 50%;
  border: 2px solid #6b6b6b;
}

.App-social-icon .social-svg:hover {
  background-color: #ffffff;
}

.App-social-icon-navbar {
  height: 35px !important;
  width: 35px !important;
}

.App-social-icon-navbar .social-svg:hover {
  background-color: #00ff89;
}

/* miscellaneous */
.App-link {
  color: #61dafb;
}

/* animation */
@media (prefers-reduced-motion: no-preference) {
  .App-leburc-logo-border {
    animation: App-leburc-logo-border-spin infinite 70s linear;
  }
}

@keyframes App-leburc-logo-border-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}